# data directory contents #
###########################

*.xls
*.xlsx
*.csv
# *.nc
*.cdf
*.download

# compiled files #
##################

**/*.pyc
*.pyc


# image files #
###############

*.png
**/*.png
*.svg

# System OS files #
###################

.DS_Store
*.DS_Store

*.pyc

# folders #
EcoFOCI_config/db_config
results